h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100px;
}

body {
  background-color: white;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}